
html{
    scroll-behavior: smooth;
}


body{
    margin: 0;
}

header{
    background-color: #02a889;
    display: flex;
    align-items: center;
    position: sticky;
    justify-content: space-between;
    height: 100px;
}

header div{
    align-items: center ;
    display: flex;  
    gap: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

header div img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 10px;
}

nav ul {
    list-style: none;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin: 35px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

nav a:hover {
    color: #d1c388;
}


section{
    text-align: center;
}

section h2{
    margin: 15px;
    padding: 15px;
    font-family:'Courier New', Courier, monospace;
}
section img{
    width: 500px;
    height: 500px;
}

.catalogo{
    display: flex;
    flex-wrap: wrap;  
}

.catalogo div{
    border: 1px solid #02a889;
    margin: 50px;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
}

.catalogo div:hover{
    transform: scale(1.1);
}

.catalogo img{
    width:  290px;
    height: 300px;
}




